<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://pcursor.run" target="_blank"
    >
      PCursor
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/KDF5000/gpt-pgvector-demo" target="_blank"
    >
      Source Code
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://dev.mysql.com/doc/refman/8.0/en/" target="_blank"
    >
      MySQL 8.0 Reference Manual
    </a>
  </p>
</footer>
